<div class="scene">
    <div class="palm-page-header multi-line">
        <div class="palm-page-header-wrapper">
            <div class="title">
                <img src="images/logo_flickr.png" />
            </div>
            <div class="subtitle" id="subtitle">Upload queue</div>
        </div>
    </div>
    <div id="upload-queue" x-mojo-element="List"></div>
    <div id="upload-button" x-mojo-element="Button"></div>
    <div class="help">
        <p>
            Tap the "+" item to add a photo to the queue, then tap "Start
            Uploading..." to start uploading to Flickr.  
        </p>
        <p>
            You can also tap photos in the queue to edit their details before
            uploading.
        </p>
        <p>
            Swipe photos in the queue to remove them.
        </p>
    </div>
</div>
